binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"
github "mapbox/mapbox-navigation-ios" ~> 0.37.0
github "mapbox/MapboxDirections.swift" ~> 0.30.0

# binary "https://api.mapbox.com/downloads/v1/vision/ios/mapbox-vision-native-all.carthage?access_token=<ADD-TOKEN-HERE>" ~> 0.9.0
# github "mapbox/mapbox-vision-ios" ~> 0.9.0
